service: imdf-slack-app

frameworkVersion: ">=1.1.0 <2.0.0"

plugins:
  - serverless-webpack
custom:
  webpackIncludeModules: true 

provider:
  name: aws
  stage: ${opt:stage}
  runtime: nodejs8.10
  region: ${opt:region}
  memorySize: 256 # Overwrite the default memory size. Default is 1024
  timeout: 5 # The default is 6 seconds. Note: API Gateway current maximum is 30 seconds
  environment:
      MQTT_ENDPOINT: 'mqtt-endpoint'
      TOPIC: 'imdf'
  iamRoleStatements:
    - Effect: Allow
      Action:
        - "iot:*"
      Resource: "arn:aws:iot:*:*:*" 
    
functions:
  webhook:
    handler: handler.webhook
    environment:
      SLACK_SIGNING_SECRET: 'xxxxxx'
      USER_LIST: 'vmrcompanion/test/jovi,vmrcompanion/test/haris,vmrcompanion/test/james'
      COMMAND_LIST: '%2Fwfh,%2Fwfo'
      USER_DEVICE_MAP: 'a:a,b:b,c:c'
      TOPIC: 'imdf'
      MQTT_ENDPOINT: 'abc-aws.iot.ap-southeast-2.amazonaws.com'
    events:
      - http:
          method: POST
          path: /command

  reserveAll:
    handler: handler.reserveAll
    environment:
      MQTT_ENDPOINT: 'abc-aws.iot.ap-southeast-2.amazonaws.com'
      DEVICE_LIST: 'jovi,haris,james'
      TOPIC: 'imdf'
    events:
      - schedule: cron(0 11 * * ? *) 
      # every day 12.00am/1.00am (utc + 11) depends on daylight saving
